.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background: #333333;
    color: white;
    padding: 50px 20px 50px 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar-link {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 15px;
  }
  
  .sidebar-link:hover {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    color: #333333;
  }
  
  .toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  